---
import Header from '../components/Header.astro';
import Layout from '../layouts/Layout.astro';
import VideoSection from '../components/VideoSection.astro'
import BottonMenu from '../components/BottomMenu.astro'
import SlideSection from '../components/SlideSection.vue';
import Crew from '../components/Crew.astro';
import '../styles/global.css';
---

<Layout>
	<Header />
	<VideoSection />
	<BottonMenu />
	<div class="mt-100">
		<SlideSection client:load />
		<Crew />
	</div>
</Layout>