<button class="boton-cotizar">
    <a href="">cotizar</a>
</button>

<style>
    .boton-cotizar{
        background-color: #00CAD3;
        padding: 10px 20px;
        border-radius: 25px;
    }
    .boton-cotizar a{
        text-decoration: none;
        font-family: 'Breymont-light';
        letter-spacing: 1px;
        color: white;
        font-weight: 600;
        font-size: 16px;
    }
    .boton-cotizar:hover {
        background-color: #00B2B2;
    }
</style>