---
import "../styles/estilos-menu.css";
---

<div
  data-elementor-type="header"
  data-elementor-id="86007"
  class="elementor elementor-86007 elementor-location-header header-ocultable"
  data-elementor-post-type="elementor_library"
>
  <div
    data-particle_enable="false"
    data-particle-mobile-disabled="false"
    class="elementor-element elementor-element-76392ad1 icon-menu v3 e-flex e-con-boxed e-con e-parent e-lazyloaded elementskit-parallax-multi-container bubbling bubble transition"
    data-id="76392ad1"
    data-element_type="container"
    data-settings='{"position":"fixed","ekit_has_onepagescroll_dot":"yes"}'
  >
    <div class="e-con-inner">
      <div
        class="elementor-element elementor-element-6b02e5f0 elementor-widget__width-initial elementor-view-default elementor-position-top elementor-mobile-position-top elementor-widget elementor-widget-icon-box active"
        data-id="6b02e5f0"
        data-element_type="widget"
        data-settings='{"ekit_we_effect_on":"none"}'
        data-widget_type="icon-box.default"
      >
        <div class="elementor-widget-container">
          <div class="elementor-icon-box-wrapper">
            <div class="elementor-icon-box-icon">
              <a
                href="#inicio"
                class="elementor-icon"
                tabindex="-1"
                aria-label="divergente"
              >
                <img class="img-icon" alt="icono-divergente" src="/logos-menu/logo-menu_1.svg" />
              </a>
            </div>
            <div class="elementor-icon-box-content">
              <h3 class="elementor-icon-box-title">
                <a href="#inicio">divErgEntE</a>
              </h3>
            </div>
          </div>
        </div>
      </div>
      <div
        class="elementor-element elementor-element-24c3769f elementor-widget__width-initial elementor-view-default elementor-position-top elementor-mobile-position-top elementor-widget elementor-widget-icon-box"
        data-id="24c3769f"
        data-element_type="widget"
        data-settings='{"ekit_we_effect_on":"none"}'
        data-widget_type="icon-box.default"
      >
        <div class="elementor-widget-container">
          <div class="elementor-icon-box-wrapper">
            <div class="elementor-icon-box-icon">
              <a
                href="#proyectos"
                class="elementor-icon"
                tabindex="-1"
                aria-label="proyEctos"
              >
                <img class="img-icon" alt="icono-divergente" src="/logos-menu/logo-menu_2.svg" /></a
              >
            </div>

            <div class="elementor-icon-box-content">
              <h3 class="elementor-icon-box-title">
                <a href="#proyectos">proyEctos</a>
              </h3>
            </div>
          </div>
        </div>
      </div>

      
      <div
        class="elementor-element elementor-element-2f0a94fe elementor-widget__width-initial elementor-view-default elementor-position-top elementor-mobile-position-top elementor-widget elementor-widget-icon-box"
        data-id="2f0a94fe"
        data-element_type="widget"
        data-settings='{"ekit_we_effect_on":"none"}'
        data-widget_type="icon-box.default"
      >
        <div class="elementor-widget-container">
          <div class="elementor-icon-box-wrapper">
            <div class="elementor-icon-box-icon">
              <a
                href="#crew"
                class="elementor-icon"
                tabindex="-1"
                aria-label="crew"
              >
                <img class="img-icon" alt="icono-divergente" src="/logos-menu/logo-menu_3.svg" />
              </a>
            </div>

            <div class="elementor-icon-box-content">
              <h3 class="elementor-icon-box-title">
                <a href="#crew">crEw</a>
              </h3>
            </div>
          </div>
        </div>
      </div>

      <div
        class="elementor-element elementor-element-6831d3e4 elementor-widget__width-initial elementor-view-default elementor-position-top elementor-mobile-position-top elementor-widget elementor-widget-icon-box"
        data-id="6831d3e4"
        data-element_type="widget"
        data-settings='{"ekit_we_effect_on":"none"}'
        data-widget_type="icon-box.default"
      >
        <div class="elementor-widget-container">
          <div class="elementor-icon-box-wrapper">
            <div class="elementor-icon-box-icon">
              <a
              target="_blank"
                href="https://api.whatsapp.com/send?phone=573027212221&text=Hola%2C%20quiero%20conocerlos%20mejor!"
                class="elementor-icon"
                tabindex="-1"
                aria-label="contacto"
              >
                <img class="img-icon" alt="icono-divergente" src="/logos-menu/logo-menu_4.svg" />
              </a>
            </div>

            <div class="elementor-icon-box-content">
              <h3 class="elementor-icon-box-title">
                <a href="https://api.whatsapp.com/send?phone=573027212221&text=Hola%2C%20quiero%20conocerlos%20mejor!">contacto</a>
              </h3>
            </div>
          </div>
        </div>
      </div>

      <div
      class="elementor-element elementor-element-2f0a94fe elementor-widget__width-initial elementor-view-default elementor-position-top elementor-mobile-position-top elementor-widget elementor-widget-icon-box"
      data-id="2f0a94fe"
      data-element_type="widget"
      data-settings='{"ekit_we_effect_on":"none"}'
      data-widget_type="icon-box.default"
    >
      <div class="elementor-widget-container">
        <div class="elementor-icon-box-wrapper">
          <div class="elementor-icon-box-icon">
            <a
              href="#footer"
              class="elementor-icon"
              tabindex="-1"
              aria-label="visitanos"
            >
              <img class="img-icon" alt="icono-divergente" src="/logos-menu/logo-menu_5.svg" />
            </a>
          </div>

          <div class="elementor-icon-box-content">
            <h3 class="elementor-icon-box-title">
              <a href="#visitanos">visítanos</a>
            </h3>
          </div>
        </div>
      </div>
    </div>

      <div
        class="elementor-element elementor-element-2f499e25 elementor-widget__width-initial elementor-absolute elementor-widget-divider--view-line elementor-widget elementor-widget-divider"
        data-id="2f499e25"
        data-element_type="widget"
        data-settings='{"_position":"absolute","ekit_we_effect_on":"none"}'
        data-widget_type="divider.default"
        style="transform: translateX(25px);"
      >
        <div class="elementor-widget-container">
          <div class="elementor-divider">
            <span class="elementor-divider-separator"></span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<script src="https://code.jquery.com/jquery-3.7.0.min.js" defer></script>
<script src="/scripts/script-menu.js" defer></script>