---
import { Image } from 'astro:assets';

// import logo from "../assets/images/Logo-divergente-produccion.svg"
import igIcon from "../assets/images/icon-ig.svg"
import inIcon from "../assets/images/icon-in.svg"
---

<header class="header">
    <div class="container">

        <div class="logo">
            <a href="/">
                <img data-aos="fade-right" data-aos-delay="300"src="/images/Logo-divergente-produccion.svg"  alt="Logotipo" title="Logotipo">
            </a>
        </div>

        <div class="textos" data-aos="fade-down">
            <p>somos ExpEriEncias, hacEmos ExpEriEncias.</p>
        </div>

        <div class="iconos">
            <a href="#">
                <img data-aos="fade-left" src="/images/icon-ig.svg" alt="Icono Red Social 1" title="Icono Red Social">
            </a>
            <a href="#">
                <img data-aos="fade-left" src="/images/icon-in.svg" alt="Icono Red Social 2" title="Icono Red Social">
            </a>
        </div>
        
    </div>
</header>