---
import video from "../assets/images/video.mp4";
import bgImage from "../assets/images/fondo-video.png";
---
<section class="video-section" data-aos="fade-up-left">
    <div class="video-container">
        <video src={video} autoplay loop muted playsinline poster={bgImage.src}>
            Tu navegador no soporta la reproducción de videos.
        </video>
    </div>
</section>

<style>
    .video-section {
        margin: auto;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        background-position-x: center;
        background-position-y: top;
        background-repeat: no-repeat;
    }

    .video-container {
        width: 80%;
    }

    video {
        width: 100%;
        display: block;
        object-fit: cover;
    }

    @media (min-width: 768px) { /* Estilos para escritorio */
        .video-section {
            height: 100vh;
        }
    }

    @media (max-width: 768px) { /* Estilos para móvil */
        .video-container {
            margin-top: 0px;
            width: 100%;
        }
    }
</style>