<!doctype html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<meta name="description" content="Descubre cómo Divergente Producción impulsa tu negocio con estrategias innovadoras de publicidad y marketing. Aumenta tu visibilidad y alcanza el éxito.">
		<meta name="keywords" content="Divergente Producción, publicidad, marketing, estrategias innovadoras, visibilidad, éxito, negocio">
		<meta name="robots" content="index, follow">
		<meta name="author" content="Divergente Producción">
		<meta property="og:title" content="Divergente Producción: Publicidad y Marketing Innovador">
		<meta property="og:description" content="Descubre cómo Divergente Producción impulsa tu negocio con estrategias innovadoras de publicidad y marketing. Aumenta tu visibilidad y alcanza el éxito.">
		<meta property="og:type" content="website">
		<meta property="og:url" content="URL de tu sitio web">
		<meta property="og:image" content="URL de una imagen representativa">
		<meta name="twitter:card" content="summary_large_image">
		<meta name="twitter:title" content="Divergente Producción: Publicidad y Marketing Innovador">
		<meta name="twitter:description" content="Descubre cómo Divergente Producción impulsa tu negocio con estrategias innovadoras de publicidad y marketing. Aumenta tu visibilidad y alcanza el éxito.">
		<meta name="twitter:image" content="URL de una imagen representativa">
		<title>Divergente producción: Producción de eventos</title>
	</head>
	
	<body class="bg-section">
		<slot />
		<script type="module" src="/scripts/initAOS.js"></script>		
	</body>
</html>

<style>
	html,
	body {
		margin: 0;
		width: 100%;
		height: 100%;
	}
</style>
